:root {
    --dark: #353535;
    --light: #ffffff;
    --grey: #d9d9d9;
    --contrast: #3c6e71;
    --highlight: #284b63;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: xx-large;
}

body {
    padding: 0;
    margin: 0;
}

.section-header .section-header-text {
    padding-left: .5rem;
}

.section-header-text {
    margin: 0;
    color: var(--light);
}

.section-header {
    position: sticky;
    top: 0;
    z-index: 98;
    background-color: var(--dark);
}

.white-shadow {
    text-shadow: 5px 3px 10px grey;
}

.social-link {
    height: 20px;
    padding: 0 5px;
    transition: .2s;
}

.social-link:hover {
    scale: 2;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 98;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark);
}

nav ul li {
    float: left;
    font-size: large;
    padding: 0 10px 0 10px;
}

.nav-li {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--dark) 50%, var(--highlight) 50%);
    transition: background-position 0.2s ease-in-out;
}


nav ul li:hover {
    background-position: 0 100%;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: var(--light);
}

.active-link {
    background-position: 0 100%;
    color: var(--light);
}


/* FOOTER */
footer {
    background-color: var(--dark);
    min-height: 30px;
    color: var(--light);
}

footer div {
    padding: 1.2em;
}

.social-link-footer {
    padding: 0;
    float: right;
}


/* Media Queries */
@media (max-width: 726px) {
    nav ul {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        height: 38.5px;
    }

    .section-header-text {
        text-align: center;
    }
}