/* HERO */
#hero {
    height: 100vh;
    background-image: url("/img/hero-image.jpg");
    background-size: cover;
}

.hero-overlay {
    position: relative;
    display: block;
    color: var(--light);
    width: fit-content;
    text-align: center;
    margin: auto;
}

.img-container {
    padding-top: 5em;
    text-align: center;
}

.profile-pic {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 50%;
    border: 2px solid var(--light);
}

/* #project {
    background-color: var(--light);
} */


.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

.project-area {
    padding: 2em;
}

.project {
    position: relative;
    display: block;
    height: 400px;
    width: 300px;
    background-color: var(--highlight);
    border-radius: 15px;
}

.project-header {
    line-height: 50%;
    padding: 12px;
}

.project-body {
    text-align: center;
    padding-top: .75rem;
}

.img-shp {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    height: 95px;
    width: 17.8rem;
}

.project-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10rem;
    background-color: white;
    border-radius: 15px;
    border: var(--highlight) solid 7px;
}

.caption-li {
    font-size: 8pt;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.project-btn-area {
    padding-top: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/* Skills */

#skills {
    width: 100%;
}

.skill-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 3em;
    margin: auto;
    gap: 3rem;
}

.skill-logo {
    height: 100px;
    width: 100px;
}