/* HERO */
#hero {
    height: 100vh;
    background-image: url("/img/hero-image.jpg");
    background-size: cover;
}

.hero-overlay {
    position: relative;
    display: block;
    color: var(--light);
    width: fit-content;
    text-align: center;
    margin: auto;
}

.img-container {
    padding-top: 5em;
    text-align: center;
}

.profile-pic {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 50%;
    border: 1px solid var(--light);
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    padding: 20px;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-row div {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#project {
    min-height: 100px;
    background-color: var(--light);
}

.project {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 2em 0;
    text-align: center;
    min-width: 150px;
    max-width: 30%;
}

.project-cap-box {
    border: 3px solid var(--highlight);
    border-bottom-left-radius: 10px;
    min-height: 50px;
    color: var(--light);
}

.placeholder {
    height: 250px;
    width: 150px;
    background-color: var(--highlight);
    border-top-right-radius: 10px;
}

.placeholder2 {
    height: 90%;
    background-color: var(--light);
    border-top-right-radius: 10px;
}


blockquote {
    display: block;
    width: 11em;
    font-size: 1.3em;
    margin: auto;
}


