/* HERO */
#hero {
    height: 100vh;
    min-height: fit-content;
    background-image: url("/img/hero-image.webp");
    background-size: cover;
    animation: fadeIn 0.5s both .5s;
}

.hero-overlay {
    position: relative;
    display: block;
    color: var(--light);
    text-align: center;
    margin: auto;
    animation: fadeIn 1s both 1s;
}

.img-container {
    padding-top: 2rem;
    text-align: center;
}

.profile-pic {
    height: 9.375rem;
    width: 9.375rem;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 50%;
    border: 0.125rem solid var(--grey);
}

.hero-text-area {
    max-width: 60vw;
    height: fit-content;
    background-color: var(--light);
    border-radius: .9375rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
}

.text-area {
    color: var(--highlight);
    font-size: x-large;
    text-align: initial;
}

.text-area p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1.25rem;
}

.resume-area {
    padding: 2em;
}

.resume {
    position: relative;
    display: block;
    height: 400px;
    width: 300px;
    background-color: var(--highlight);
    border-radius: .9375rem;
}

.resume-header {
    line-height: 50%;
    padding: .75em;
    color: var(--light)
}

.resume-body {
    text-align: center;
    padding-top: .75em;
}

.img-shp {
    background-color: white;
    border-radius: .9375rem;
    padding: 1.6rem;
    height: 6em;
    width: 17.8rem;
}

.resume-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10rem;
    background-color: white;
    border-radius: .9375em;
    border: var(--highlight) solid .5rem;
}

.caption-li {
    font-size: 9pt;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.resume-btn-area {
    padding-top: 1.6rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Projects */
#projects {
    width: 100%;
}

.project-box {
    width: 80%;
    margin: 1em auto 1em auto; 
    padding: 0.5em;
    border-radius: 1rem;
    background-color: var(--highlight);
}

.project-box-header {
    font-family: var(--headerfont-family);
    font-size: large;
    text-align: center;
    color: var(--light);
    padding: 0.5em;
}

.project {
    text-align: center;
    margin: auto;
}

.project-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: space-evenly;
}

.project-img {
    display: block;
    width: 20rem;
    margin: auto;
    padding: 1rem;
}

.project-caption-text {
    color: var(--light);
}


/* Skills */
#skills {
    width: 100%;
}

.skill-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 3em;
    margin: auto;
    gap: 3em;
}

.skill-logo {
    height: 100px;
    width: 100px;
}



@media (max-height: 600px) {
    #hero {
        height: fit-content;
    }

    .hero-overlay {
        padding-bottom: 1.25rem;
    }

    .img-container {
        padding-top: 1rem;
    }
}

@media (max-width: 680px) {
    .hero-text-area {
        max-width: 90vw;
        height: fit-content;

    }
}

/* Animation KeyFrames */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}