html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: xx-large;
}

body {
    padding: 0;
    margin: 0;
}

#hero {
    height: 75vh;
    background-image: url("/img/hero-image.jpg");
}

.hero-overlay {
    display: block;
    color: azure;
    width: 500px;
    margin: auto;
}

.hero-overlay div {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.white-shadow {
    text-shadow: 5px 3px 10px grey;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    padding: 20px;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-row div {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}



#project {
    min-height: 100px;
    background-color: #595959;
}

.header-white {
    color: azure;
}

.project {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 2em 0;
    text-align: center;
}

.project-cap-box {
    border: 3px solid coral;
    border-bottom-left-radius: 10px;
    min-height: 50px;
    color: azure;
}

.placeholder {
    height: 250px;
    background-color: coral;
    border-top-right-radius: 10px;
}

.placeholder2 {
    height: 90%;
    background-color: azure;
    border-top-right-radius: 10px;
}

