html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: xx-large;
}

body {
    padding: 0;
    margin: 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191919;
}

nav ul li {
    float: left;
    font-size: large;
}

ul li:hover {
    background-color: lightskyblue;
    color: azure;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: azure;
}

.active-link {
    background-color: coral;
    color: azure;
}

.hero-img {
    height: 65vh;
    width: 100vw;
    margin: auto;
}

.hero-overlay {
    position: absolute;
    top: 25px;
    left: 25px;
    color: azure;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
}

.flex-container div {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#project {
    min-height: 100px;
    background-color: #595959;
}

.header-white {
    color: azure;
}

.project {
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
    text-align: center;
}

.project-cap-box {
    border: 3px solid cadetblue;
    border-bottom-left-radius: 10px;
    min-height: 50px;
    color: azure;
}

.placeholder {
    height: 250px;
    background-color: cadetblue;
    border-top-right-radius: 10px;
}

.placeholder2 {
    height: 90%;
    background-color: azure;
    border-top-right-radius: 10px;
}