html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: xx-large;
}

body {
    padding: 0;
    margin: 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}

nav ul li {
    float: left;
    font-size: large;
}

ul li:hover {
    background-color: pink;
    color: azure;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: white;
}

.active-link {
    background-color: #1111ff;
    color: white;
}

.hero-img {
    height: 65vh;
    width: 100vw;
    margin: auto;
}

.hero-overlay {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 25px;
    color: white;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.flex-container div {
    display: flex;
    justify-content: space-around;
}

#hero {
    min-height: 100px;
    background-color: green;
}

section#project {
    min-height: 100px;
    background-color: yellow;
}

.project {
    margin: 8px;
    padding: 8px;
}